@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  background-color: #1f1f1f;
}

#root,
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* tinggi layar */
}

main {
  flex: 1; /* footer ke bawah */
}

/* Sembunyikan scrollbar tapi tetap bisa scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Footer */
.footer {
  background-color: #333333;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  margin-top: auto;
  color: white;
}
